@import './assets/fonts/fonts.css';

 #root {
  margin: 0 auto;
  text-align: center;
}

.custom-font-class {
  font-family: 'ProtestStrike_Regular', sans-serif;
  font-size: 30px;
}

.custom-font-class2 {
  font-family: 'ProtestStrike_Regular', sans-serif;
  font-size: 42px;
}