@import './assets/fonts/fonts.css';

 #root {
  margin: 0 auto;
  text-align: center;
}

.logo-font {
  font-family: 'ProtestStrike_Regular', sans-serif;
  font-size: 26px;
}

.standard-font {
  font-family: 'MavenPro_Medium', serif;
  font-size: 15px;
}